@import "tailwindcss";

body::-webkit-scrollbar{
  display: none;
}
@media (max-width: 768px) {
  html,
  body,
  #root {
    max-width: 100%;
    overflow-x: hidden;
  }

  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}


/* Hide scrollbars across all screen sizes */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
